body {
    margin: 0;
    padding: 0;
    background-image: url("https://media1.giphy.com/media/xUA7b4arnbo3THfzi0/giphy.gif");
    background-repeat: no-repeat;
    background-size: 1366px 768px;
  }
 
  
  header {
    background-color: #09450b;
    text-align: center;
    margin: 0 auto;
    height: 50px;
  }

  .welcome {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: antiquewhite;
  }

  .audio {
    background-color: #4caf50;
    opacity: 0.1;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
  }
  .submit-btn{
    position:absolute;
    bottom:0px;
    right:50%;
    left:50%;
    margin-left:-50px;
    opacity: 0.8;
    scroll-behavior: smooth;
  }
  
  main {
    background-color: rgb(183, 198, 168);
    scroll-behavior: smooth;
  
  }
  
 
  .quiz-form {
    background-image: url("https://fingerlakestrail.org/wp-content/uploads/2017/01/IMG_1286-2.jpg");
    background-size: cover;
    width: 600px;
    opacity: 0.8;
    color: black;
    text-align: center;
   
  }

  .qsubmit-btn{
    scroll-behavior: smooth;
  }
  .details-div{
    width: auto;
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: thistle;
    color: black;
    
  }


  
  
  button {
    font-size: .65em;
    color: #fff;
    background-color: green;
    border-radius: 10px;
  }
  
  button.release {
    float: right;
    background-color: #E1332D;
  }
  
  @media only screen and (min-width: 800px) {
    .details-div {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (min-width: 850px) {
    .details-div {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  

.slideshow-container {

  max-width: 600px;
  max-height: 400px;
  background-color:beige;
  position: relative;
  margin: auto;
}


.text {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 5s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
  
/* #map {
  height: 400px;  /* The height is 400 pixels */
  /* width: 100%;  The width is the width of the web page
 } */ 
 #map * {
  overflow: visible;
}
  
 /* .modal {
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
} */
